<h2>Inscriptions</h2>
{% if not event.allowEntries %}
    Les inscriptions sont désactivées pour cet évènement.
{% else %}
    <div class="mb-2">
        {% if is_granted('register', event) %}
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    S'inscrire
                </button>
                <div class="dropdown-menu">
                    {% if is_granted('ROLE_USER') and event.numberPeopleByEntries is same as(1) %}
                        <a class="dropdown-item" href="{{ path('owp_entry_quick', {'slug': event.slug}) }}">Inscription rapide</a>
                        <a class="dropdown-item" href="{{ path('owp_entry_add_form', {'slug': event.slug, 'mode': 'club'}) }}">Inscription par club</a>
                        <a class="dropdown-item" href="{{ path('owp_entry_add_form', {'slug': event.slug, 'mode': 'open'}) }}">Inscription non licencié</a>
                    {% else %}
                        <a class="dropdown-item" href="{{ path('owp_entry_add_form', {'slug': event.slug, 'mode': 'team'}) }}">Inscription d'une équipe</a>
                    {% endif %}
                </div>
            </div>
            {% include '@OwpEvent/Page/show__entries_help.html.twig' %}
        {% else %}
            <p>
                Les inscriptions à cet évènement sont terminées. Veuillez contacter l'organisateur de la course pour modifier ou supprimer votre inscription.
            </p>
        {% endif %}

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Export
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ path('owp_entry_export', {'slug': event.slug, 'format': 'pdf'})}}">Export au format PDF</a>
            </div>
        </div>
    </div>

    {% include '@OwpEvent/Page/show__entries_list.html.twig' %}
{% endif %}
